@import url('https://fonts.googleapis.com/css?family=Nunito');
@font-face {
  font-family: 'LucidaGrande';
  src: url('../fonts/LucidaGrande/LucidaGrande.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LucidaGrande/LucidaGrande.woff') format('woff'),
       url('../fonts/LucidaGrande/LucidaGrande.ttf')  format('truetype'),
       url('../fonts/LucidaGrande/LucidaGrande.svg#LucidaGrande') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #000;
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 50;
}

.overlay > div{
  width: 100%;
  height: 100%;
}

.overlay .body{
  width: 95%;
  height: 80%;
  position: relative;
  border: 2px solid #000;
  box-shadow: 0 0 25px rgba(0, 0, 0, 1);
}

.overlay .body .close{
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  cursor: pointer;
}

.overlay .body iframe{
  width: 100%;
  height: 100%;
  border: 0;
}

.font-lucida-grande{
  font-family: 'LucidaGrande', sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

footer{
  background-color: #E2ABBD;
  color: #fff;
}

footer .social ul li{
  margin-left: 25px;
}

footer .social ul li a{
  color: #fff;
}

.title{
  color: #E2ABBD;
}

.flex-box{
  display: flex;
}
.flex-space-center{
  justify-content: center;
}

.flex-space-around{
  justify-content: space-around;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-align-center{
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

img{
  max-width: 100%;
}

.menu{
  list-style: none;
}

a{
  color: #000;
  text-decoration: none;
}

.clear{
  clear: both;
}

.page1200{
  max-width: 1200px;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

section{
  margin-bottom: 120px;
}

.height-100{
  height: 100vh;
  overflow-y: auto;
}

.main-menu li a{
  color: #E2ABBD;
}

.pink-section{
  background-color: #E2ABBD;
  color: #fff;
}

.projects .projects-list .project-item{
  position: relative;
  width: 275px;
  height: 275px;
  margin-bottom: 25px;
  overflow: hidden;
}

.projects .projects-list .project-item:hover .info{
  opacity: 0;
}

.projects .projects-list .project-item:hover .image img{
  transform: scale(1.2, 1.2);
}

.projects .projects-list .first-list .project-item{
  width: 580px;
  height: 580px;
  float: left;
}
.projects .projects-list .first-list .project-item:nth-child(1){
  float: right;
  height: 1185px;
}

.projects .projects-list .project-item .image{
  font-size: 0;
  width: 100%;
  height: 100%;
}

.projects .projects-list .project-item .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s ease-in-out;
}

.projects .projects-list .project-item .info{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,192,203,.7);
  color: #fff;
  transition: all .5s ease-in-out;
}

.about .about-body{
  font-size: 36px;
}

.contact{
  background-image: url("../images/phone.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
}

@media (max-width: 770px) {
  .projects .projects-list .project-item{
    height: 275px !important;
  }

  .projects .projects-list .first-list .project-item{
    width: 90%;
    margin-left: 5%;
    float: none !important;
  }

  .projects .projects-list .second-list{
    justify-content: space-around;
  }
}

@media (max-width: 440px) {
  .main-menu{display: none;}
  .overlay .body .close{
    top: 10px;
    left: 15px;
  }
  .projects .projects-list .project-item,
  .projects .projects-list .first-list .project-item{
    width: auto;
    margin-left: 0
  }
  .about .about-body{
    font-size: 20px;
  }
}